
@{
    Layout = null;
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>buttonCheck</title></head>
<script>
        
        function f1(objButton) {
            
            alert(objButton.value);
        }
</script>
<body>
    <div>
        <input type='button' value='Generate' onclick='f1(this)' />
        <input type='button' value='Generate2' onclick='f1(this)' />
    </div>
</body>

