<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid back">
        <a class="navbar-brand" href="#">
            <!-- <img src="4.png" alt=""  class="menulogo rounded-circle"> -->
        </a>
        <input type="search" class="searchbar searchbarfont" placeholder="Search for Recipes...." />
        <i class="fa fa-search iconsearch" style="color: rgb(206,39,39)" aria-hidden="true"></i>

    </div>
    <div class="container-fluid seconframe">
        <br><br>
        <div class="card shadow" style="width: 18rem;">

            <div class="card-body">
                <img src="veg.png" class="veg">
                &nbsp;&nbsp;&nbsp;&nbsp; <h7 class="card-title">Vegetables & Greens </h7>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;0/30 Ingredients
                <hr style="width: 105%;">

                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

                <br>
                <br>
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                <br>
                <br>
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
                <br>
                <br>
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                &nbsp;&nbsp;
                <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">+20 More</button>
            </div>
        </div>
    </div>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>