@{
    ViewBag.Title = "Home";
}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	
	
</head>
<body>

	<frameset cols="25%,75%">
		<frame name="top" noresize src="SideView.cshtml" />
		<frame name="main" src="Menu.cshtml" />

		<noframes>

			
		</noframes>

	</frameset>
</body>
