
@{
    ViewBag.Title = "Recipe";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="backgroundlanding">
<div class="container-fluid grid-container">
    <div class="col imageLanding">
        <img src="~/Content/Images/2.png" max-width: 200px;
 />

    </div>
    <div class="col searchbarWITHfont">
        <input class="searchbar searchbarfont" type="text" placeholder="Search for Recipes..." />
        <i class="fa fa-search fa-2xl iconsearch" style="color: rgb(206,39,39)" aria-hidden="true"></i>

    </div>
</div>
</body>