
@{
    ViewBag.Title = "sideview";
}
<head>
    <script src="~/Content/javascript/sideview1.js" type="text/javascript"></script>
    <script src="~/Content/javascript/sideview2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <link href="~/Content/Site1.css" rel="stylesheet" />
</head>
@*@using (Html.BeginForm("SideViewPost", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()//Using AntiForgeryToken helps mitigate against cross-site request forgery attacks.*@
@*@RenderSection("JavaScript", required: false)*@
<div class="container-fluid seconframe">
    <br>
    <div class="card shadow" style="width: 18rem;">

        <div class="card-body">
            <img src="veg.png" class="veg">
            &nbsp; <h7 class="card-title">Vegetables & Greens </h7>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;0/30 Ingredients
            <hr style="width: 100%;">

            <button type="button" id="" value="" class="btn" onclick="GotoRecipe(event, 'button', '')" data-count="1">Go</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="tomato" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">tomato</button>
            &nbsp;&nbsp;
            @*<button type="button" id="button" value="onion" class="btn" onclick="setColor(event, 'button', ''); inputIngredient(this);" ; data-count="1">onion</button>*@
            <button type="button" id="button" value="onion" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">onion</button>

            <br>
            <br>
            <button type="button" id="button" value="water" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">water</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="spinach" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">spinach</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="leek" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">leek</button>
            <br>
            <br>
            <button type="button" id="button" value="celery" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">celery1</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="cabbage" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">cabbage</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="kale" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">kale</button>
            <br>
            <br>
            <button type="button" id="button" value="celery" class="btn" onclick="IngredientAndColor(event, 'button', '',this);" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                +20 More
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
                            &nbsp;
                            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>

                        </div>


                    </div>

                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card shadow" style="width: 18rem;">
        <div class="card-body">
            <img src="herbs.png" class="veg">
            &nbsp; <h7 class="card-title">Herbs & Spices </h7>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;0/30 Ingredients
            <hr style="width: 105%;">

            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="">+20 More</button>
        </div>
    </div>
    <br>
    <div class="card shadow" style="width: 18rem;">

        <div class="card-body">
            <img src="egs.jpg" class="veg">
            &nbsp; <h7 class="card-title">Dairy & Eggs </h7>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;0/30 Ingredients
            <hr style="width: 105%;">

            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" data-count="1">Garlic</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">water</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">+20 More</button>
        </div>
    </div>
    <br>
    <div class="card shadow" style="width: 18rem;">

        <div class="card-body">
            <img src="veg.png" class="veg">
            &nbsp;<h7 class="card-title">Sugar & Sweeteners </h7>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;0/30 Ingredients
            <hr style="width: 105%;">

            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
            <br>
            <br>
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
            &nbsp;&nbsp;
            <button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">+20 More</button>
        </div>
    </div>
</div>
@*}*@



