
@{
    ViewBag.Title = "sideview";
}

<body>
	<div class="container-fluid back">
		<a class="navbar-brand" href="#">
			<!-- <img src="4.png" alt=""  class="menulogo rounded-circle"> -->
		</a>
		<input type="search" class="searchbar searchbarfont" placeholder="Search for Recipes...." />
		<i class="fa fa-search iconsearch" style="color: rgb(206,39,39)" aria-hidden="true"></i>

	</div>
	<div class="container-fluid seconframe">
		<br><br>
		<div class="card shadow" style="width: 18rem;">

			<div class="card-body">
				<img src="veg.png" class="veg">
				&nbsp;&nbsp;&nbsp;&nbsp; <h7 class="card-title">Vegetables & Greens </h7>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;0/30 Ingredients
				<hr style="width: 105%;">

				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">+20 More</button>
			</div>
		</div>
		<br>
		<div class="card shadow" style="width: 18rem;">

			<div class="card-body">
				<img src="herbs.png" class="veg">
				&nbsp;&nbsp;&nbsp;&nbsp; <h7 class="card-title">Herbs & Spices </h7>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;0/30 Ingredients
				<hr style="width: 105%;">

				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="">+20 More</button>
			</div>
		</div>
		<br>
		<div class="card shadow" style="width: 18rem;">

			<div class="card-body">
				<img src="egs.jpg" class="veg">
				&nbsp;&nbsp;&nbsp;&nbsp; <h7 class="card-title">Dairy & Eggs </h7>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;0/30 Ingredients
				<hr style="width: 105%;">

				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">+20 More</button>
			</div>
		</div>
		<br>
		<div class="card shadow" style="width: 18rem;">

			<div class="card-body">
				<img src="veg.png" class="veg">
				&nbsp;&nbsp;&nbsp;&nbsp; <h7 class="card-title">Sugar & Sweeteners </h7>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;0/30 Ingredients
				<hr style="width: 105%;">

				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">Garlic</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">tomato</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">onion</button>

				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">carrot</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">spinach</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">leek</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">cabbage</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">kale</button>
				<br>
				<br>
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">celery</button>
				&nbsp;&nbsp;
				<button type="button" id="button" value="button" class="btn" onclick="setColor(event, 'button', '')" ; data-count="1">+20 More</button>
			</div>
		</div>
	</div>
	<script>
		function setColor(e, btn, color) {
			var target = e.target,
				count = +target.dataset.count;

			target.style.backgroundColor = count === 1 ? "#ff8c00" : '#d3d3d3';
			target.dataset.count = count === 1 ? 0 : 1;
		}
	</script>
	
</body>

